In [11]:
# imports
import pandas as pd
import os # use this to access your environment variables
import requests # this will be used to call the APIs
import json

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [31]:
FSAPI_KEY = os.getenv('FOURSQ_API_KEY')

In [12]:
bikes_df = pd.read_csv('bikes_data.csv')
bikes_df.head()

,uid,station,latitude,longitude,slots,free_bikes,ll
0,7303,Queen St E / Woodward Ave,43.665269,-79.319796,19,0,"43.665269,-79.319796"
1,7301,Primrose Ave / Davenport Rd,43.671420,-79.445947,15,12,"43.67142,-79.445947"
2,7309,Queen St. E / Rhodes Ave.,43.666224,-79.317693,23,4,"43.666224,-79.317693"
3,7045,Bond St / Queen St E,43.653236,-79.376716,25,11,"43.653236,-79.376716"
4,7044,Church St / Alexander St,43.663722,-79.380288,27,17,"43.663722,-79.380288"

In [33]:
def near_stations_fs(ll, api_key):
     
    url = f"https://api.foursquare.com/v3/places/search?ll={ll}&radius=1000&categories=12013&limit=50"
    headers = {
    "accept": "application/json",
    "Authorization": FSAPI_KEY
    }
    response = requests.get(url, headers=headers)
    return response.json()

In [35]:
df_concatFSQ = pd.DataFrame()

for bike_station in range(len(bikes_df)):
    
    df_resultsFSQ = near_stations_fs(bikes_df.at[bike_station, 'll'], FSAPI_KEY)
    df_resultsFSQ = pd.DataFrame(df_results['results'])
    df_resultsFSQ['ll'] = bikes_df.at[bike_station, 'll']
    df_concatFSQ = pd.concat([df_concat, df_results], axis=0)
    
df_concatYLP.reset_index(drop=True, inplace=True)

,ll,fsq_id,categories,chains,distance,geocodes,link,location,name,related_places,timezone
0,"43.67142,-79.445947",4c0104c019d8c928e0248829,"[{'id': 12022, 'name': 'College Classroom', 'i...",[],588.0,"{'main': {'latitude': 43.669253, 'longitude': ...",/v3/places/4c0104c019d8c928e0248829,"{'address': '55 Pelham Ave', 'country': 'CA', ...",St Josephat,{},America/Toronto
1,"43.67142,-79.445947",25f0beefad224c243eba1a06,"[{'id': 12013, 'name': 'College and University...",[],713.0,"{'main': {'latitude': 43.665816, 'longitude': ...",/v3/places/25f0beefad224c243eba1a06,"{'address': '1489 Dupont St', 'country': 'CA',...",Pangaea Consultants,{},NaN
2,"43.67142,-79.445947",4b576e39f964a520473728e3,"[{'id': 12013, 'name': 'College and University...",[],954.0,"{'main': {'latitude': 43.679789, 'longitude': ...",/v3/places/4b576e39f964a520473728e3,"{'address': '21 Ascot Ave', 'country': 'CA', '...",Hudson College,{},America/Toronto
3,"43.67142,-79.445947",56698142498ec7033efa023f,"[{'id': 12013, 'name': 'College and University...",[],1017.0,"{'main': {'latitude': 43.679035, 'longitude': ...",/v3/places/56698142498ec7033efa023f,"{'address': '115 Ascot Ave', 'country': 'CA', ...",StrongMinds Education,{},America/Toronto
0,"43.653236,-79.376716",4bc1db6e2a89ef3beec8f288,"[{'id': 12034, 'name': 'College Rec Center', '...",[],613.0,"{'main': {'latitude': 43.658524, 'longitude': ...",/v3/places/4bc1db6e2a89ef3beec8f288,"{'address': '50 Goulden Cres', 'address_extend...",Ryerson Recreation and Athletics Centre,{'parent': {'fsq_id': '4ad7797cf964a520170b21e...,America/Toronto
...,...,...,...,...,...,...,...,...,...,...,...
34,"43.7063279,-79.3962499",34aecaec21354da0d73089b0,"[{'id': 12013, 'name': 'College and University...",[],659.0,"{'drop_off': {'latitude': 43.71159, 'longitude...",/v3/places/34aecaec21354da0d73089b0,"{'address': '27 Castlefield Ave', 'country': '...",PREPSKILLS Inc,{},NaN
35,"43.7063279,-79.3962499",65f9798dd234497d3b3d7848,"[{'id': 12013, 'name': 'College and University...",[],688.0,"{'drop_off': {'latitude': 43.70024, 'longitude...",/v3/places/65f9798dd234497d3b3d7848,"{'address': '1992 Yonge St', 'address_extended...",Mothercraft Institute For Early Development,{},NaN
36,"43.7063279,-79.3962499",adb2814d0dea47e4417e25d2,"[{'id': 12013, 'name': 'College and University...",[],690.0,"{'main': {'latitude': 43.700165, 'longitude': ...",/v3/places/adb2814d0dea47e4417e25d2,"{'address': '1992 Yonge St', 'address_extended...",Royal Canadian Institute of Intternational Stu...,{},NaN
37,"43.7063279,-79.3962499",ee9653ce32ff4e644eb5e2ca,"[{'id': 12013, 'name': 'College and University...",[],774.0,"{'main': {'latitude': 43.69942, 'longitude': -...",/v3/places/ee9653ce32ff4e644eb5e2ca,"{'address': '25 Imperial St', 'address_extende...",Pathways Training and Elearning Inc,{},NaN
38,"43.7063279,-79.3962499",98068ecfab204b42beaf7dbc,"[{'id': 12013, 'name': 'College and University...",[],954.0,"{'main': {'latitude': 43.697737, 'longitude': ...",/v3/places/98068ecfab204b42beaf7dbc,"{'address': '5799 Yonge St', 'country': 'CA', ...",Access Canada Business College,{},NaN

In [36]:
df_concat2 = df_concatFSQ.reset_index()
df_concat2

,index,ll,fsq_id,categories,chains,distance,geocodes,link,location,name,related_places,timezone
0,0,"43.67142,-79.445947",4c0104c019d8c928e0248829,"[{'id': 12022, 'name': 'College Classroom', 'i...",[],588.0,"{'main': {'latitude': 43.669253, 'longitude': ...",/v3/places/4c0104c019d8c928e0248829,"{'address': '55 Pelham Ave', 'country': 'CA', ...",St Josephat,{},America/Toronto
1,1,"43.67142,-79.445947",25f0beefad224c243eba1a06,"[{'id': 12013, 'name': 'College and University...",[],713.0,"{'main': {'latitude': 43.665816, 'longitude': ...",/v3/places/25f0beefad224c243eba1a06,"{'address': '1489 Dupont St', 'country': 'CA',...",Pangaea Consultants,{},NaN
2,2,"43.67142,-79.445947",4b576e39f964a520473728e3,"[{'id': 12013, 'name': 'College and University...",[],954.0,"{'main': {'latitude': 43.679789, 'longitude': ...",/v3/places/4b576e39f964a520473728e3,"{'address': '21 Ascot Ave', 'country': 'CA', '...",Hudson College,{},America/Toronto
3,3,"43.67142,-79.445947",56698142498ec7033efa023f,"[{'id': 12013, 'name': 'College and University...",[],1017.0,"{'main': {'latitude': 43.679035, 'longitude': ...",/v3/places/56698142498ec7033efa023f,"{'address': '115 Ascot Ave', 'country': 'CA', ...",StrongMinds Education,{},America/Toronto
4,0,"43.653236,-79.376716",4bc1db6e2a89ef3beec8f288,"[{'id': 12034, 'name': 'College Rec Center', '...",[],613.0,"{'main': {'latitude': 43.658524, 'longitude': ...",/v3/places/4bc1db6e2a89ef3beec8f288,"{'address': '50 Goulden Cres', 'address_extend...",Ryerson Recreation and Athletics Centre,{'parent': {'fsq_id': '4ad7797cf964a520170b21e...,America/Toronto
...,...,...,...,...,...,...,...,...,...,...,...,...
13912,34,"43.7063279,-79.3962499",34aecaec21354da0d73089b0,"[{'id': 12013, 'name': 'College and University...",[],659.0,"{'drop_off': {'latitude': 43.71159, 'longitude...",/v3/places/34aecaec21354da0d73089b0,"{'address': '27 Castlefield Ave', 'country': '...",PREPSKILLS Inc,{},NaN
13913,35,"43.7063279,-79.3962499",65f9798dd234497d3b3d7848,"[{'id': 12013, 'name': 'College and University...",[],688.0,"{'drop_off': {'latitude': 43.70024, 'longitude...",/v3/places/65f9798dd234497d3b3d7848,"{'address': '1992 Yonge St', 'address_extended...",Mothercraft Institute For Early Development,{},NaN
13914,36,"43.7063279,-79.3962499",adb2814d0dea47e4417e25d2,"[{'id': 12013, 'name': 'College and University...",[],690.0,"{'main': {'latitude': 43.700165, 'longitude': ...",/v3/places/adb2814d0dea47e4417e25d2,"{'address': '1992 Yonge St', 'address_extended...",Royal Canadian Institute of Intternational Stu...,{},NaN
13915,37,"43.7063279,-79.3962499",ee9653ce32ff4e644eb5e2ca,"[{'id': 12013, 'name': 'College and University...",[],774.0,"{'main': {'latitude': 43.69942, 'longitude': -...",/v3/places/ee9653ce32ff4e644eb5e2ca,"{'address': '25 Imperial St', 'address_extende...",Pathways Training and Elearning Inc,{},NaN
13916,38,"43.7063279,-79.3962499",98068ecfab204b42beaf7dbc,"[{'id': 12013, 'name': 'College and University...",[],954.0,"{'main': {'latitude': 43.697737, 'longitude': ...",/v3/places/98068ecfab204b42beaf7dbc,"{'address': '5799 Yonge St', 'country': 'CA', ...",Access Canada Business College,{},NaN

In [37]:
df_reset = df_concat2.drop(columns=['index'])
df_reset

,ll,fsq_id,categories,chains,distance,geocodes,link,location,name,related_places,timezone
0,"43.67142,-79.445947",4c0104c019d8c928e0248829,"[{'id': 12022, 'name': 'College Classroom', 'i...",[],588.0,"{'main': {'latitude': 43.669253, 'longitude': ...",/v3/places/4c0104c019d8c928e0248829,"{'address': '55 Pelham Ave', 'country': 'CA', ...",St Josephat,{},America/Toronto
1,"43.67142,-79.445947",25f0beefad224c243eba1a06,"[{'id': 12013, 'name': 'College and University...",[],713.0,"{'main': {'latitude': 43.665816, 'longitude': ...",/v3/places/25f0beefad224c243eba1a06,"{'address': '1489 Dupont St', 'country': 'CA',...",Pangaea Consultants,{},NaN
2,"43.67142,-79.445947",4b576e39f964a520473728e3,"[{'id': 12013, 'name': 'College and University...",[],954.0,"{'main': {'latitude': 43.679789, 'longitude': ...",/v3/places/4b576e39f964a520473728e3,"{'address': '21 Ascot Ave', 'country': 'CA', '...",Hudson College,{},America/Toronto
3,"43.67142,-79.445947",56698142498ec7033efa023f,"[{'id': 12013, 'name': 'College and University...",[],1017.0,"{'main': {'latitude': 43.679035, 'longitude': ...",/v3/places/56698142498ec7033efa023f,"{'address': '115 Ascot Ave', 'country': 'CA', ...",StrongMinds Education,{},America/Toronto
4,"43.653236,-79.376716",4bc1db6e2a89ef3beec8f288,"[{'id': 12034, 'name': 'College Rec Center', '...",[],613.0,"{'main': {'latitude': 43.658524, 'longitude': ...",/v3/places/4bc1db6e2a89ef3beec8f288,"{'address': '50 Goulden Cres', 'address_extend...",Ryerson Recreation and Athletics Centre,{'parent': {'fsq_id': '4ad7797cf964a520170b21e...,America/Toronto
...,...,...,...,...,...,...,...,...,...,...,...
13912,"43.7063279,-79.3962499",34aecaec21354da0d73089b0,"[{'id': 12013, 'name': 'College and University...",[],659.0,"{'drop_off': {'latitude': 43.71159, 'longitude...",/v3/places/34aecaec21354da0d73089b0,"{'address': '27 Castlefield Ave', 'country': '...",PREPSKILLS Inc,{},NaN
13913,"43.7063279,-79.3962499",65f9798dd234497d3b3d7848,"[{'id': 12013, 'name': 'College and University...",[],688.0,"{'drop_off': {'latitude': 43.70024, 'longitude...",/v3/places/65f9798dd234497d3b3d7848,"{'address': '1992 Yonge St', 'address_extended...",Mothercraft Institute For Early Development,{},NaN
13914,"43.7063279,-79.3962499",adb2814d0dea47e4417e25d2,"[{'id': 12013, 'name': 'College and University...",[],690.0,"{'main': {'latitude': 43.700165, 'longitude': ...",/v3/places/adb2814d0dea47e4417e25d2,"{'address': '1992 Yonge St', 'address_extended...",Royal Canadian Institute of Intternational Stu...,{},NaN
13915,"43.7063279,-79.3962499",ee9653ce32ff4e644eb5e2ca,"[{'id': 12013, 'name': 'College and University...",[],774.0,"{'main': {'latitude': 43.69942, 'longitude': -...",/v3/places/ee9653ce32ff4e644eb5e2ca,"{'address': '25 Imperial St', 'address_extende...",Pathways Training and Elearning Inc,{},NaN
13916,"43.7063279,-79.3962499",98068ecfab204b42beaf7dbc,"[{'id': 12013, 'name': 'College and University...",[],954.0,"{'main': {'latitude': 43.697737, 'longitude': ...",/v3/places/98068ecfab204b42beaf7dbc,"{'address': '5799 Yonge St', 'country': 'CA', ...",Access Canada Business College,{},NaN

In [39]:
df_reset.to_csv('FSq_result_all.csv', index=False)

In [38]:
col_filter = ['ll', 'name', 'distance']
df_final = df_reset[col_filter]
df_final

,ll,name,distance
0,"43.67142,-79.445947",St Josephat,588.0
1,"43.67142,-79.445947",Pangaea Consultants,713.0
2,"43.67142,-79.445947",Hudson College,954.0
3,"43.67142,-79.445947",StrongMinds Education,1017.0
4,"43.653236,-79.376716",Ryerson Recreation and Athletics Centre,613.0
...,...,...,...
13912,"43.7063279,-79.3962499",PREPSKILLS Inc,659.0
13913,"43.7063279,-79.3962499",Mothercraft Institute For Early Development,688.0
13914,"43.7063279,-79.3962499",Royal Canadian Institute of Intternational Stu...,690.0
13915,"43.7063279,-79.3962499",Pathways Training and Elearning Inc,774.0
13916,"43.7063279,-79.3962499",Access Canada Business College,954.0

In [40]:
df_final.to_csv('FSq_result_details.csv', index=False)

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

#### see above

Put your parsed results into a DataFrame

#### see above

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [ ]:
YLPAPI_KEY = os.getenv('YELP_API_KEY')

In [23]:
bikes_df = pd.read_csv('bikes_data.csv')
bikes_df.head()

,uid,station,latitude,longitude,slots,free_bikes,ll
0,7303,Queen St E / Woodward Ave,43.665269,-79.319796,19,0,"43.665269,-79.319796"
1,7301,Primrose Ave / Davenport Rd,43.671420,-79.445947,15,12,"43.67142,-79.445947"
2,7309,Queen St. E / Rhodes Ave.,43.666224,-79.317693,23,4,"43.666224,-79.317693"
3,7045,Bond St / Queen St E,43.653236,-79.376716,25,11,"43.653236,-79.376716"
4,7044,Church St / Alexander St,43.663722,-79.380288,27,17,"43.663722,-79.380288"

In [ ]:
api_key = YLPAPI_KEY

In [25]:
def yelp_bars_fs(latitude, longitude, api_key):
    url = f"https://api.yelp.com/v3/businesses/search?latitude={latitude}&longitude={longitude}&term=%22bar%22&radius=1000&limit=50"
    headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {api_key}"
    }
    response = requests.get(url, headers=headers)
    return response.json()

In [17]:
# bikes_df = bikes_df.head()
# bikes_df

,uid,station,latitude,longitude,slots,free_bikes,ll
0,7303,Queen St E / Woodward Ave,43.665269,-79.319796,19,0,"43.665269,-79.319796"
1,7301,Primrose Ave / Davenport Rd,43.671420,-79.445947,15,12,"43.67142,-79.445947"
2,7309,Queen St. E / Rhodes Ave.,43.666224,-79.317693,23,4,"43.666224,-79.317693"
3,7045,Bond St / Queen St E,43.653236,-79.376716,25,11,"43.653236,-79.376716"
4,7044,Church St / Alexander St,43.663722,-79.380288,27,17,"43.663722,-79.380288"

In [ ]:
df_concatYLP = pd.DataFrame()

for bk_station in range(len(bikes_df)):
    latitude = bikes_df.at[bk_station, 'latitude']
    longitude = bikes_df.at[bk_station, 'longitude']
    
    df_resultsYLP = yelp_bars_fs(latitude, longitude, api_key)
    df_resultsYLP = pd.DataFrame(df_resultsYLP['businesses'])
    df_resultsYLP['latitude'] = latitude
    df_resultsYLP['longitude'] = longitude
    
    df_concatYLP = pd.concat([df_concatYLP, df_resultsYLP], axis=0)

df_concatYLP.reset_index(drop=True, inplace=True)

In [29]:
# full data from Yelp in a dataframe
df_concatYLP

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price,latitude,longitude
0,iUDbA1Xm7hVh_sKCH4H3Vg,black-pony-toronto,Black Pony,https://s3-media3.fl.yelpcdn.com/bphoto/wpI0Oq...,False,https://www.yelp.com/biz/black-pony-toronto?ad...,8.0,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.5,"{'latitude': 43.67241, 'longitude': -79.3204}",[],"{'address1': '1481 Gerrard Street E', 'address...",+14164667669,+1 416-466-7669,805.518073,NaN,43.665269,-79.319796
1,NmXB2KhGXHKMCMAKILpCCA,eulalies-corner-store-toronto,Eulalie's Corner Store,https://s3-media2.fl.yelpcdn.com/bphoto/eP9euV...,False,https://www.yelp.com/biz/eulalies-corner-store...,31.0,"[{'alias': 'pubs', 'title': 'Pubs'}]",4.5,"{'latitude': 43.6725388, 'longitude': -79.3217...",[],"{'address1': '1438 Gerrard Street E', 'address...",,,826.343043,$$,43.665269,-79.319796
2,O-QzKFXawEOiJmonWgvKbQ,le-conciliabule-toronto,Le Conciliabule,https://s3-media4.fl.yelpcdn.com/bphoto/lkwBPA...,False,https://www.yelp.com/biz/le-conciliabule-toron...,13.0,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",4.5,"{'latitude': 43.671365, 'longitude': -79.3272249}",[],"{'address1': '1300 Gerrard Street E', 'address...",+14379811800,+1 437-981-1800,903.609078,NaN,43.665269,-79.319796
3,Z1r6b30Tg0n0ME4-Zj2wQQ,boardwalk-place-toronto,Boardwalk Place,https://s3-media2.fl.yelpcdn.com/bphoto/KaTLsi...,False,https://www.yelp.com/biz/boardwalk-place-toron...,15.0,"[{'alias': 'pubs', 'title': 'Pubs'}]",2.5,"{'latitude': 43.6630096, 'longitude': -79.3108...",[],"{'address1': '1675 Lake Shore Boulevard E', 'a...",+14166948844,+1 416-694-8844,758.567399,$$,43.665269,-79.319796
4,YlxR4sEMrHcRC37pAA5z1g,history-toronto,History,https://s3-media3.fl.yelpcdn.com/bphoto/TvKLTM...,False,https://www.yelp.com/biz/history-toronto?adjus...,7.0,"[{'alias': 'musicvenues', 'title': 'Music Venu...",4.5,"{'latitude': 43.66677, 'longitude': -79.31378}",[],"{'address1': '1663 Queen Street E', 'address2'...",+14162605566,+1 416-260-5566,533.907031,$$$,43.665269,-79.319796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14893,6cz8xLR64Iuzpa4NNcFHqg,king-rustic-toronto-2,King Rustic,https://s3-media1.fl.yelpcdn.com/bphoto/4PJU8R...,False,https://www.yelp.com/biz/king-rustic-toronto-2...,64.0,"[{'alias': 'comfortfood', 'title': 'Comfort Fo...",4.0,"{'latitude': 43.6418019534315, 'longitude': -7...",[],"{'address1': '905 King Street W', 'address2': ...",+14167925910,+1 416-792-5910,886.326990,$$,43.643860,-79.422757
14894,l5VyYW6ApAP7iWRC1ooZ1w,home-smith-bar-toronto,Home Smith Bar,https://s3-media3.fl.yelpcdn.com/bphoto/mTY2aU...,False,https://www.yelp.com/biz/home-smith-bar-toront...,7.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 43.650908910338, 'longitude': -79...",[],"{'address1': '21 Old Mill Road', 'address2': '...",+14162362641,+1 416-236-2641,193.302219,$$$,43.649204,-79.493363
14895,I3sKfkXsYv4oF54JGoHWew,brydens-toronto,Bryden's,https://s3-media1.fl.yelpcdn.com/bphoto/qoIaa5...,False,https://www.yelp.com/biz/brydens-toronto?adjus...,68.0,"[{'alias': 'pubs', 'title': 'Pubs'}, {'alias':...",4.0,"{'latitude': 43.64903, 'longitude': -79.48453}",[],"{'address1': '2455 Bloor Street W', 'address2'...",+14167608069,+1 416-760-8069,711.176986,$$,43.649204,-79.493363
14896,Lmqj8Me1EiYljYj0N1W7JA,dark-horse-toronto,Dark Horse,https://s3-media4.fl.yelpcdn.com/bphoto/0PmzJB...,False,https://www.yelp.com/biz/dark-horse-toronto?ad...,57.0,"[{'alias': 'pubs', 'title': 'Pubs'}]",2.5,"{'latitude': 43.64941, 'longitude': -79.48302}",[],"{'address1': '2401 Bloor St W', 'address2': ''...",+14167694696,+1 416-769-4696,828.849699,$$,43.649204,-79.493363
14897,OyjuNkm5nGvf7EvJWRw0jw,bellona-kitchen-toronto,Bellona Kitchen,https://s3-media1.fl.yelpcdn.com/bphoto/SX8YPF...,False,https://www.yelp.com/biz/bellona-kitchen-toron...,4.0,"[{'alias': 'vegetarian', 'title': 'Vegetarian'...",5.0,"{'latitude': 43.65582003744772, 'longitude': -...",[],"{'address1': '276 Jane Street', 'address2': ''...",+14166048777,+1 416-604-8777,879.444713,NaN,43.649204,-79.493363

In [31]:
# creating a smaller dataframe with the columns that I need
col_filter = ['name', 'review_count', 'rating', 'distance', 'price', 'latitude', 'longitude']
df_finalYLP = df_concatYLP[col_filter]
df_finalYLP

,name,review_count,rating,distance,price,latitude,longitude
0,Black Pony,8.0,4.5,805.518073,NaN,43.665269,-79.319796
1,Eulalie's Corner Store,31.0,4.5,826.343043,$$,43.665269,-79.319796
2,Le Conciliabule,13.0,4.5,903.609078,NaN,43.665269,-79.319796
3,Boardwalk Place,15.0,2.5,758.567399,$$,43.665269,-79.319796
4,History,7.0,4.5,533.907031,$$$,43.665269,-79.319796
...,...,...,...,...,...,...,...
14893,King Rustic,64.0,4.0,886.326990,$$,43.643860,-79.422757
14894,Home Smith Bar,7.0,4.0,193.302219,$$$,43.649204,-79.493363
14895,Bryden's,68.0,4.0,711.176986,$$,43.649204,-79.493363
14896,Dark Horse,57.0,2.5,828.849699,$$,43.649204,-79.493363
14897,Bellona Kitchen,4.0,5.0,879.444713,NaN,43.649204,-79.493363

In [32]:
df_finalYLP.to_csv('Yelp_result_details.csv', index=False)

##### Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

#### see above

##### Put your parsed results into a DataFrame

#### see above

In [34]:
# first step in preparing a data from to answer the question in the next section of the notebook

col_filter = ['name', 'review_count', 'rating', 'price',]
df_restaurant = df_finalYLP[col_filter]
df_restaurant

                         name  review_count  rating price
0                  Black Pony           8.0     4.5   NaN
1      Eulalie's Corner Store          31.0     4.5    $$
2             Le Conciliabule          13.0     4.5   NaN
3             Boardwalk Place          15.0     2.5    $$
4                     History           7.0     4.5   $$$
...                       ...           ...     ...   ...
14893             King Rustic          64.0     4.0    $$
14894          Home Smith Bar           7.0     4.0   $$$
14895                Bryden's          68.0     4.0    $$
14896              Dark Horse          57.0     2.5    $$
14897         Bellona Kitchen           4.0     5.0   NaN

[14898 rows x 4 columns]

In [41]:
#soring the data to get the answer to the question in the next section re highest rated restaurants

sorted_df = df_restaurant.sort_values(by=['rating', 'review_count'], ascending=[False, False])

unique_sorted_df = sorted_df.drop_duplicates(subset=['name'])

unique_sorted_df.head(10)

                                  name  review_count  rating price
251                              Mallo          44.0     5.0     $
1138    Dil Se Indian Restaurant & Bar          20.0     5.0   NaN
261                 Paradise Grapevine          14.0     5.0   NaN
340                       Koerner Hall          13.0     5.0    $$
4625                    Mom's Basement           7.0     5.0   NaN
315                         El Tenedor           5.0     5.0   NaN
4646  The Bartending School of Ontario           5.0     5.0   NaN
533                      Super Bargain           4.0     5.0   NaN
635                         915 Dupont           4.0     5.0   NaN
1252               Chiang Mai Junction           4.0     5.0   NaN

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

#### Although I am not sure I have pulled data from the correct sections of the APIs I have found more interesting data from the Yelp API with respect to bars and resaturants. It included information like number of reviews, rating and price category.

Get the top 10 restaurants according to their rating

#### There were many restaurants from my YELP results with a rating of 5.0 which is the highest rating so I also sorted the data by the number of reviews as the more people that contributed to that rating the more confident we can be in it. There were five restaurants that had a rating of 5.0 that were based on more reviews that others. These are:

#### 1. Mallo - a rating of 5.0 based on 44 reviews
#### 2. Dil Se Indian Restaurant & Bar - a rating of 5.0 based on 20 reviews
#### 3. Paradise Grapevine - a rating of 5.0 based on 14 reviews
#### 4. Koerner Hall - a rating of 5.0 based on 13 reviews
#### 5. Mom's basement - a rating of 5.0 based on 7 reviews